.container {
    margin: 0 auto;
    width: 500px;
}

body {
    /* background: red; */
}

.slick-prev:before, .slick-next:before {
    color: pink;
}

.your-class {
    height: 50px;
    overflow: hidden;
}

.your-class.slick-initialized {
    height: auto;
    overflow: visible;
}

.your-class > div{
    background: gray;
    color: white;
}

.inside {
    border: 5px solid white;
    padding: 20px;
}

.grid-item {
    width: 33%;
    background: gray;
    padding: 20px;
    box-sizing: border-box;
}


.your-class > div:nth-child(1){
    display: block;
}


.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}